/*CENG311 Activity 2 css file*/

/*styling for the table goes here*/
body 
{
	width: 628px;
	margin: 0 auto;
}

#table-border {
    border: 1px solid black;
}

table 
{
	border-collapse: collapse;
	border: 1px solid black;
	margin: 20px;
}

thead 
{
	background-color: yellow;
}

th, td 
{
	border: 1px solid black;
	padding: .2em 1em .2em .5em;
	text-align: left;
	vertical-align: middle;
}

.ColorWhite {
  background-color : white !important;
}

tr:nth-of-type(odd) td {
    	background-color : white;
}
tr:nth-of-type(even) td {
    	background-color : yellow;
}

.right 
{
	text-align: right;
	
}

tbody tr:nth-child(even) td 
{
	background-color: yellow;
}
caption{
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    padding-bottom: 20px;;
}
